body {
  margin: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}

#map {
  width: auto;
  height: 100vh;
  z-index: 0;
}

.leaflet-bottom {
  display: flex;
}

.vehicle {
  background-color: #fff;
  text-align: center;
  padding: 4;
  border-radius: 4px;
  opacity: 0;
}

.routeId {
  margin-top: -4;
}

.dest {
  font-size: 10;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.result {
  background-color: #ffffffaa;
}
.result:hover {
  background-color: #ffffffdd;
}

.highlight:hover {
  opacity: 0.5;
  transition: all 300ms;
}
